@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  margin: 0;
  font-family: "Inter", serif;
}
/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
} */
*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

label {
  font-size: 1.2rem;
  color: #656262;
}

html,
body {
  height: 100%;
  width: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav-link {
  margin-left: 20px;
}
.fa-brands {
  margin-right: 15px;
}
a {
  text-decoration: none;
  color: black;
}
.footer,
.a {
  font-size: 12px;
}
.para {
  font-size: 9px;
}

.bb {
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  font-size: 10px;
}
.footer {
  background-color: #fbfbfb;
}
#supportWrapper {
  background-color: #387fd1;
}
#track {
  color: white;
}
.features {
  text-decoration: underline;
}

/* @media (max-width: 768px) {
  .hero-image {
    width: 100%;
    max-width: 400px;
    max-height: auto;
  }
} */
